body{
    padding: 0;
    margin: 0;
    background: #ffecd2;
}

.form{

    padding: 10px;
    width: 700px;
    margin: 0 auto;
    border: 2px solid #FFF
}
.form input{
    margin: 10px;
}

.form button{

}